<h1><%=@header%></h1>

<div class="filter">
  <div class="col">
    filter:
  </div>
    <a class="filter-btn" href="/animals">all</a>
    <a class="filter-btn" href="/animals/adoptable">adoptable</a>
  <%@types.each do |type|%>
      <a class="filter-btn" href='/animals/types/<%=type.id%>'><%=type.type%>s</a>
  <%end%>
  <div class="col">
  |
  </div>
  <a class="filter-highlight-btn" href="/animals/new">admit new animal</a>
</div>

<div class="info-list">

<% @animals.each do |animal| %>
  <div class="list-entry">
    <div class="img-container">
      <img src="<%= animal.photo_file_path%>" />
    </div>
    <div class="info-container">
      <p><strong>Name: </strong><%= animal.name %></p>
      <p><strong>Admission Date:</strong> <%= animal.admission_date_formatted %></p>
      <p><strong>Adoption Status: </strong><%= animal.get_adoption_status %></p>
    </div>
      <a class="view-btn" href="/animals/<%= animal.id %>">view</a>
  </div>

<% end %>

</div>