<div class="heading">
  <h1>unable to delete owner</h1>
</div>

<div class="not-found">
  <p>The owner profile for <%= @owner.first_name%> <%= @owner.last_name%> cannot be deleted as the following adoptions reference the owner:</p>
</div>

<div class="info-list">

  <% @animals.each do |animal| %>
    
      <div class="list-entry">
        <div class="img-container">
          <img src="<%= animal.photo_file_path%>" />
        </div>
        <div class="info-container">
          <p><strong>name: </strong><%= animal.name %></p>
          <p><strong>admission date:</strong> <%= animal.admission_date_formatted %></p>
          <p><strong>adoption status: </strong><%= animal.get_adoption_status %></p>
        </div>
        <a class="view-btn" href="/animals/<%= animal.id %>">view</a>
      </div> 
    
  <% end %>