<div class="heading">
  <h1>matching adoptable animals for <%= @owner.first_name%> <%=@owner.last_name%></h1>
</div>

<%if @matched_animals == [] %>
  <div class="not-found">
  <p> there are currently no matching animals ready for adoption</p>
  </div>
<%end%>



<div class="info-list">

  <% @matched_animals.each do |animal|%>
  
    <div class="list-entry">

      <div class="img-container">
        <img src="<%= animal.photo_file_path%>" />
      </div>
      <div class="info-container">
        <p><strong>name: </strong><%= animal.name %></p>
        <p><strong>admission date:</strong> <%= animal.admission_date_formatted %></p>
        <p><strong>adoption status: </strong><%= animal.get_adoption_status %></p>
      </div>
      <a class="view-btn" href="/owners/<%= @owner.id%>/match/<%= animal.id %>">view match</a>
      
    </div>
    
  <%end%>

</div>