<div class="heading">
<h1>matching adoptable animals for <%= @owner.first_name%> <%=@owner.last_name%></h1>
</div>

<%if @matched_animals == [] %>
  <div class="not-found">
  <p> there are currently no matching animals ready for adoption</p>
<%end%>

<div class="info-list">

  <% @matched_animals.each do |animal|%>
  
    <div class="list-entry">
      <div class="img-container">
        <img src="<%= animal.photo_file_path%>" />
      </div>
      <div class="info-container">
        <p><strong>Name: </strong><%= animal.name %></p>
        <p><strong>Admission Date:</strong> <%= animal.admission_date_formatted %></p>
        <p><strong>Adoption Status: </strong><%= animal.get_adoption_status %></p>
      </div>
        <a class="view-btn" href="/owners/<%= @owner.id%>/match/<%= animal.id %>">view match</a>
    </div>
    
  <%end%>

</div>