<div class="heading">
  <h1>owner profile</h1>
</div>

<div class="profile">
  <div class="profile-details">
  <p><strong>name: </strong><%= @owner.first_name%> <%= @owner.last_name%></p>
  <p><strong>address:</strong></p>
  <p><%= @owner.address%></p>
  <p><strong>contact number:</strong> 0<%= @owner.phone_number%></p>
  <hr/>
  

  <%adoption_no = 1 %>
  <% @owner.animals.each do |animal| %>
    <p>adoption <%=adoption_no%></p>
    <p><strong>animal name: </strong><%= animal.name%></p>
    <p><strong>breed/type: </strong><%= animal.breed%> <%= animal.get_type%></p>
    <p><strong>adopted on:</strong> <%= animal.get_adoption_date%></p>
    <hr/>
    <%adoption_no += 1%>
  <%end%>

  <a class="profile-btn" href="/owners/<%= @owner.id%>/edit">update details</a>
  <form method="POST" action="/owners/<%= @owner.id%>/delete">
    <input type="submit" value="delete record" />
  </form>
  </div>
</div>